body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: #e2e2e2;
}
#container {
	width: 60vw;
	margin: auto;
	border: 1px solid black;
	position: relative;
	top: 300px;
}
h1 {
	text-align: center;
}
button {
	height: 60px;
	width: 300px;
	margin-left: 35%;
	margin-top: 2%;
	position: relative;
	background-color: green;
	font-size: 120%;
	cursor: pointer;
}
#hide-container {
	border: 1px solid black;
	width: 50%;
	margin: auto;
	height: 600px;
	display: none;
	
}
#secretBtn, #logOut {
	display: inline;
}
#showImg {
	display: block;
	background-size: cover;
	height: 300px;
	width: 50%;
	margin: auto;
}
#showUser {
	font-size: 140%;
	text-align: center;
}


