body {
   display: block;
   margin: 0px;
   padding: 0px;
   font-size: 15px;
}

#inputdata {
   display: block;
   width: 60vw;
   height: 100vh;
   border: 1px solid lightgray;
   background-color: #a7d7f9;
}
#button {
	padding: 5px;
	border-bottom: 1px solid black;
}
input {
	display: block;
	padding: 15px;
	font-size: 120%;
	width: 90%;
}
