body {
   display: block;
   margin: 0px;
   padding: 0px;
   font-size: 14px;
   font-family: georgian sans-serif verdana;
   background-color: #151c28;
}
#container {
	background-color: #151c28;
	height: 100vh;
}
#logginSection {
	border: 1px solid gray;
	height: 10vh;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#inputWords {
	font-size: 120%;
	margin-left: 5px;
	margin-top: 25px;
}
#login-btn, #logout-btn {
	padding: 10px;
	display: inline;
	margin-top: 5px;
	width: 90px;
	background-color: #151c28;
	color: white;
	font-size: 130%;
	
}
#login-btn:hover, #logout-btn:hover {
	background-color: white;
	color: #151c28;
}
#inputdata {
   display: block;
   height: 20vh;
   border-bottom: 2px solid white;
   width: 100%;
}
#post-button {
	padding: 10px;
	display: inline;
	margin-top: 5px;
	width: 90px;
	background-color: #151c28;
	color: white;
	font-size: 130%;
}
#post-button:hover {
	background-color: white;
	color: #151c28;
}
#mymessage {
	border-bottom: 1px solid black;
	height: 70vh;
	color: white;
	font-size: 140%;
	width: 90%;
	margin: auto;
}
#describetext {
	font-size: 140%;
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 20px;
	width: 60%;
}
.outputText {
	border-bottom: 1px solid gray;
	
}
input {
	display: inline;
	padding: 10px;
	font-size: 110%;
	margin-top: 5px;
}
h2 {
	font-size: 150%;
	color: white;
}
h1 {
	text-align: center;
	color: white;
	margin-top: 40px;
}
li {
	list-style: none;
}