*{
    margin: 0;
    padding: 0;
}

@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.section-header {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.arrow {
    border-color:transparent;
    border-style:solid;
    border-width:0 2em;
    display:block;
    height:0;
    margin:10em auto;
    opacity:0.4;
    text-indent:-9999px;
    transform-origin: 50% 50%;
    width:0;
}

.down {
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top:2em solid #00b6f1;
}

ul.tech-list {
    list-style: none;
    padding-top: 20px;
}

ul.tech-list li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

img {
    display: block;
    max-width: 300px;
    max-height: 300px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0 auto;
}

#container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
    font-size: 18px;
}
/* landing page */
#showcase{
    background-image:
    linear-gradient(
        to right, 
        #3ae3fa, #2041f9
    );
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#showcase h1 {
    margin-top: 100px;   
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
}

#showcase p {
    font-size: 30px;
    color: #fff;
}

#showcase .button, #portfolio-section .button {
    font-size: 18;
    text-decoration: none;
    color: #fff;
    border: #fff 1px solid;
    padding: 10px 10px;
    border-radius: 20px;
}

#showcase .button:hover{
    color: #495475;
    background-color: #fff;
}
/* about section */
#info-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#info-section h1, #portfolio-section h1 {
    font-size: 40px;
    line-height: 1.4;
    margin: 30px 0px;
    
}

#portfolio-section h1 {
    color: #fff;
}

#info-section p {
    font-size: 20px;
}

.infoTextWrapper {
    text-align: left;
}


/* portfolio section */

#portfolio-section .redux {
    background-image: url('./img/react-black.png');
}

#portfolio-section .javascriptBig {
    background-image: url('./img/javascriptpic.jpg');
}

#portfolio-section .javascriptBig:hover, #portfolio-section .redux:hover {
    opacity: 1;
}

#portfolio-section .javascriptBig p {
    color: #000;
}

#portfolio-section {
    background-color: #595d6b;
    display: flex;
}

#portfolio-section .project-card {
    margin: 20px 0px 20px 0px;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    background-color: transparent;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 1;
}


#portfolio-section .project-card p {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;  
    color: #fff;     
}

#portfolio-section .project-card a {
    margin-top: 20px;
    background-color: #224BF9;
}

#portfolio-section .project-card a:hover {
    cursor: pointer;
    color: #224BF9;
    background-color: #fff;
}

#portfolio-section .section-header {
    text-align: left;
}

#portfolio-section h2 {
    color: #224BF9;
    text-align: left;
    font-size: 18px;
}

/* footer */

#footer {
    height: 300px;
    width: 100%;
    text-align: center;
    background-color: #16140d;
}

#footer p {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}

.social a {
    margin: 0 10px; 
}

#footer .linkedin {
    color: #0077B5;
}

#footer .github {
    color: #fff;
}
#footer .facebook {
    color: #3B5998;
}

#footer .fab {
    margin-left: 2px;
    margin-right: 2px;
}

#footer .social {
    margin-top: 100px;  
}


@media screen and (max-width: 800px) {
    #container {
        float: left;
        width: 100%;
    }

    #portfolio-section {
        flex-direction: column;
    }

    #portfolio-section .project-card {
        margin: 15px;
    }


}

