html {
    padding: 0px;
    margin: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-family: georgia, verdana, sans-serif;
}


h2 {
	text-align: center;
	color: white;
    text-transform: uppercase;
}
h3 {
	color: black;
	font-size: 140%;
	
}
* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
p {
	
}
i {
	color: white;
	cursor: pointer;
	
}
a {    
   text-transform: uppercase;
}

.container {
    padding: 0;
    margin: 0px;
}
/*--------------------HEAD SECTION BEGINS---------------*/

.navbar {
    overflow: hidden;
    background-color: #d30202;
    height: 90px;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: black;
    color: white;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
/*-----------------------HEAD SECTION ENDS--------------------------*/
/*-----------------------MAIN SECTION BEGINS------------------------*/

#pagewrapp {
	position: relative;
	margin: 0px;
	padding: 0px;
}
#mainwrapper {
	margin: 0px;
	padding: 0px;
    background-color: #3f4144;
}
#content {
	
}
#content ul {
	margin-top: 5px;
	list-style: none;
}
#content ul li {
	padding: 5px;
	margin: 5px;
	text-align: center;
}
#content ul li a{
	text-decoration: none;
	color: white;
	font-size: 140%;
    display: block;
    width: 115px;
    margin: auto;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background-color: #1f69e0
}
#content ul li a:hover {
	
}
#content p {
	text-align: center;
}

/*#middle {  
	
}
#middle ul {
	list-style: none;
	margin-top: 5px;
}
#middle ul li {
	padding: 5px;
	margin: 5px;
	text-align: center;
}
#middle ul li a {
	text-decoration: none;
	color: white;
	font-size: 140%;
    display: block;
    width: 115px;
    margin: auto;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background-color: #1f69e0;
}
#middle ul li a:hover {
	
	
}
#middle p {
	text-align: center;
    font-size: 18px;
    color: white;
}*/
.infocap {
	border: 1px solid gray;
    width: 100%;
    display: block;
    height: 400px;
    padding: 4px;
    margin-bottom: 20px;
}
.infocap img {
    border-radius: 5px;
    max-height: 50px;
    min-width: 50px;
    margin: auto;
}
.infocap a > img {
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: top;
}
.infocap img:hover {
    cursor: pointer;
    opacity: 0.5;
}
.infocap li a {
    margin-bottom: 2px;
}
.infocap p {
    font-size: 18pt;
    color: white;
    
}
#about {
	height: 200px;
	display: inline-block;
	clear: both;
	padding: 5px 15px 0px 15px;
    margin-bottom: 10px;
    
}
#about p {
	padding-top: 20px;
    color: bisque;
}
#about h3 {
    color: #ffffff;
}
.myimg {
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	float: right;
	margin: 0 0 10px 10px;
}

/*---------------	FOOTER SECTION--------------------*/


#footer {
  background-color: #efa700;
  height: 200px;
}

.footer-content {
    
}
#footer i {
    float: left;
    width: 25vw;
    padding: 5px 5px;
    margin: 0px auto 5px 5%;
}


/*-------------------- media query----------------------*/
@media screen and (min-width: 800px) {
	

}

@media screen and (min-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#about {
		width: auto;
		float: none;
	}
	#navbar {
		top: 10px;
	}
    #navbar ul {
        margin-top: 13px;
    }
    #navbar ul li a{
        font-size: 150%; 
    }
    #footer {
        height: 350px;
    }
    #footer i {
        float: none;
        display: block;
    }

}

