
body {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-family: georgia, verdana, sans-serif;
}

h1 {
	font-size: 300%;
	font-family: 'Lato';
	font-weight: 300;
	color: #ffffff;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	float: left;
}
h2 {
	color: white;
	font-size: 150%;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
h3 {
	color: black;
	font-size: 140%;
	
}
* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
	position: relative;
}

/*--------------------HEAD SECTION BEGINS---------------*/
#header-conteiner {
	background-image: url('img/gbg1.jpg');
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navbar {
	width: 100%;
	margin: auto;
	position: absolute;
	top: 20px;
}
#navbar ul {
	list-style: none;
	padding: 10px;
	float: right;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#navbar ul li {
	display: inline;
	color: white;
	font-size: 120%;
	margin-right: 8px;
	
	
}
#navbar ul li a {
	text-decoration: none;
	color: white;
	font-size: 200%;
}
#navbar ul li a:hover {color: #db0808; cursor: pointer; }

/*-----------------------HEAD SECTION ENDS--------------------------*/
/*-----------------------MAIN SECTION BEGINS------------------------*/

#pagewrapp {
	width: 100vw;
	
}
#content {
	width: 490px;
	float: left;
	padding: 5px 15px;
}
#middle {
	width: 494px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#about {
	clear: both;
	padding: 0 15px;
	
}
i {
	position: relative; 
	bottom: -250px;
	color: white;
}

/*.inside-section {
	list-style: none;
	padding: 15px;
	
}
.inside-section li {
	display: inline;
	margin: 10px;
	font-size: 140%;
	
}
.inside-section li a {
	color: white;
	text-decoration: none;
}
.inside-section li a {color: black;}
.inside-section li a:hover {color:#db0808;}*/

#about {
	height: 30%;
	display: inline-block;
	clear: both;
}
.myimg {
	background-image: url('img/profilbild.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	clear: left;
}
/*---------------	FOOTER SECTION--------------------*/


#footer {
  position: fixed;
  bottom: 0px;
  background-color: #343638;
  width: 100%;
  height: 60px;
	
}
#info {
	font-size: 150%;
	display: inline;
	text-align: center;
	color: white;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}

@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}
