body {
  margin:0;
  padding:0;
  font-size:20pt;
  height: 100vh;
  background-color: #3d3f4c;
}

#app {
    border: 1px solid gray;
    width: 50%;
    height: 600px;
    background-color: cornflowerblue;
    margin: auto;
        
}
.result {
    display: block;
    
}
.result span {
    font-size: 25pt;
}
h1 {text-align: center;}

.numbers {
    display: block;
    height: 200px;
    border: 1px solid black;
    margin-top: 10px;
}

input {
    padding: 7px;
    margin-left: 10px;
    width: 50%;
    font-size: 22pt;
    margin: 2px;    
}
span {
    margin-left: 10px;
    margin-right: 2px;
    font-weight: bold;
}
button {
    padding: 10px;
    margin: 2px;
    font-size: 22pt;
    color: red;
    
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}