
body {margin:0px; padding: 0px; font-family: georgia, verdana ; font-size: 14px;}

#container {
	width: 100vw;
    padding: 0px;
    margin: 0px;
}
/*     HEADER SECTION      */


#main-header {
	height: 90px;
	width: 100vw;
	background-color: #d4ff00;
	border-radius: 5px;
    margin: 0px;
    position: absolute;
}

/*      NAVBAR SECTION      */


#navbar {
	width: 100vw;
	margin: 0px;
    position: relative;
    top: 90px;
}
#navbar ul {
	
	/*margin-top: 10px;*/
	padding: 15px;
	list-style: none;
	background-color: #3d3b37;
	border-radius: 5px;
	text-align: center;
	
}
#navbar ul li {
	display: inline;
	cursor: pointer;
}
#navbar ul li span {
	background-color: #3d3b37;
	color: white;
	padding: .2em 1em;
}
#navbar ul li span:hover {
	color: #000;
	background-color: white;
}


#returnKey {                /*   div som returnerar en api key */
	font-size: 140%;
	color: white;
	visibility: hidden;
	display: inline;
}
#varning {
	
	font-size: 140%;
}

/*     MAIN SECTION         */


.wrapper-main {
	width: 80vw;
	border-radius: 5px;
	height: 100vh;
	margin: auto;
    top: 100px;
	position: relative;
}

.view-books {
	margin: 10px 0px 10px 0px;
	height: 40%;
	display: block;
}


#displayBooks {
	height: 30px;
	padding: 5px;
	font-size: 130%;
	
} 

#displayBooks li {
	display: block;
	border-bottom: 2px solid black;
    font-size: 120%;
	font-family: verdana;
	font-weight: 300;
    margin-top: 10px;	
}

/*      FOOTER SECTION      */


#footer {
	background-color: #0c0c09;
	height: 60px;
	width: 100vw;
}




/*           */

h1 {
	font-size: 250%;
	text-align: center;
	color: black;
	font-family: "century gothic";
    font-weight: 600;
	margin: 0px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY´(-50%);
}
#span {
	font-size: 140%;
    margin-left: 15px;
	
}
p {text-align: center; color: white; position: relative; top: 45px}