body {
    margin: 0px;
    padding: 0px;
}
#show-container {
    width: 100%;
    height: 100vh;
    display: block;
}
.main-container {
    display: flex;
    justify-content: center;
}
.main-container > row {
    flex: 1 auto;
    flex-direction: row;
    position: relative;
}
#leftDiv {
    border-right: 2px solid black;
}
.row > button {
    padding: 5px;
    font-size: 18pt;
    margin: 30% auto 0 auto;
    opacity: 0.6;
    position: relative;
    float: left;
    left: 40%;
}
.row > button:hover {
    opacity: 1;
}

#hide-container {
    display: none;
    width: 100%;
    height: 100vh;
}

#rightDiv h2, #rightDiv p {
    text-align: center;
}
h2 {font-size: 30pt;}