body {
    margin: 0px;
    padding: 0px;
}
#show-container {
    width: 100%;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    display: flex;
}
#show-container > .row {
    flex: 1 auto;
    flex-direction: row;
}
#leftDiv, #hide-left {
    border-right: 2px solid black;
}
.row > button {
    padding: 5px;
    font-size: 18pt;
    margin: 30% auto 0 auto;
    opacity: 0.6;
    position: relative;
    float: left;
    left: 40%;
}
.row > button:hover {
    opacity: 1;
}

#hide-container {
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    display: flex;
}
#hide-container > .row {
    flex: 1 auto;
    flex-direction: row;
}
#hide-container > hide-left {
    text-align: center;
}
#rightDiv h2, #rightDiv p {
    text-align: center;
}
h2 {font-size: 30pt;}
h4 {font-size: 20pt;}
#showUser {font-size: 25pt;}
@media only screen and (max-width: 900px) {
    .row > button {
    padding: 4px;
    font-size: 16pt;
    margin: 20% auto 0 auto;
    opacity: 0.6;
    position: relative;
    float: left;
    left: 30%;
}
    h2 {font-size: 26pt;}
    h4 {font-size: 16pt;}
    #showUser {font-size: 20pt;}
}
