body {
   display: block;
   margin: 0px;
   padding: 0px;
   font-size: 14px;
   font-family: georgian sans-serif verdana;
   background-color: #151c28;
}
#container {
	height: 100vh;
    padding: 0;
    margin: 0;
}
#logginSection {
	border: 1px solid white;
	height: 30vh;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#inputWords {
	margin-left: 5px;
	margin-top: 25px;
}
#logout-btn {
	padding: 5px;
	display: inline;
	margin-top: 7px;
	width: 90px;
	background-color: #151c28;
	color: white;
	
}
#login-btn:hover, #logout-btn:hover {
	background-color: white;
	color: #151c28;
    cursor: pointer;
}

#post-button, #logout-btn {
    text-transform: uppercase;
}
#inputdata {
   display: block;
   height: 20vh;
   border-bottom: 2px solid white;
   width: 100%;
}
#post-button {
	padding: 5px;
	display: inline;
	margin-top: 7px;
	width: 90px;
	background-color: #151c28;
	color: white;
}
#post-button:hover {
	background-color: white;
	color: #151c28;
    cursor: pointer;
}
#mymessage {
	border-bottom: 1px solid black;
	height: 100vh;
	color: white;
	width: 90%;
	margin: auto;
}
#describetext {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 20px;
	width: 40%;
}
.outputText {
	border-bottom: 1px solid gray;
	
}
input {
	display: inline;
	padding: 5px;
	margin-top: 5px;
}
h2 {
	font-size: 18px;
	color: white;
}
h1 {
	text-align: center;
	color: white;
	margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
}
li {
	list-style: none;
}