body {
   margin: 0px;
   padding: 0px;
   font-family: georgian sans-serif verdana;
   background-color: #3d6bbc;
}
#container {
	height: 100vh;
	width: 50%;
    margin: 0 auto;
}
#logginSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#inputWords {
	margin-top: 25px;
}

#login-btn:hover {
	background-color: #3d6bbc;
	color: #151c28;
    cursor: pointer;
}

#post-button, {
    text-transform: uppercase;
}
#inputdata {
   display: block;
   height: 20vh;
   border-bottom: 2px solid white;
   width: 100%;
}
#post-button {
	padding: 12px;
	margin-top: 5px;
	width: 90px;
	background-color: #3d6bbc;
	color: white;
}
#post-button:hover {
	background-color: white;
	color: #151c28;
    cursor: pointer;
}
#mymessage {
	height: 100vh;
	color: white;
	width: 90%;
	margin: auto;
}
#describetext {
	margin-top: 20px;
}
#outputText {
	height: auto;
	width: 100%;
}
input {
	padding: 10px;
}
h2 {
	font-size: 18px;
	color: white;
	text-align: left;	
	margin-left: 40px;
}

li {
	list-style: none;
}